<ion-view view-title="登录">
    <ion-content>
        <div class="row">
            <div id="logo">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label ">账号</span>
                <input type="text" ng-model="formData.number">
            </label>
            <label class="item item-input">
                <span class="input-label ">密码</span>
                <input type="password" ng-model="formData.passwd">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login(formData)">
                登入
            </button>
        </div>
    </ion-content>
</ion-view>