<ion-view view-title="{{title}}" >
  <ion-content class="has-footer">
    <ion-refresher
      pulling-text="下拉更新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card" >
      <div class="item item-stable">
        {{title}}订单数量
        <span class="item-note">
          {{totalElements}}
        </span>
      </div>
    </div>


    <div class="card"
         ng-repeat="order in orders"
         ng-click="orderDetail(order)" >
        <div class="item">
            定制伙伴:&nbsp;&nbsp;<span class="positive">{{order.shopName}}</span>
            <span class="item-note">
              点击查看详情
              <i class="icon ion-ios-arrow-right"></i>
            </span>
        </div>
        <div class="item">
          <div class="itemRow">
            <div class="row">
              <div class="col col-25" style="color: grey">
                订单号
              </div>
              <div class="col ">
                {{order.number}}
              </div>
            </div>
            <div class="row">
              <div class="col col-25 colGrey">
                订单简况
              </div>
              <div class="col ">
                {{order.subject}}
              </div>
            </div>
            <div class="row">
              <div class="col col-25" style="color: grey">
                账单金额
              </div>
              <div class="col ">
                {{order.totalPrice4CNY}}元
              </div>
            </div>
            <div class="row">
              <div class="col col-25" style="color: grey">
                下单时间
              </div>
              <div class="col ">
                {{order.createTime | date: 'yyyy-MM-dd HH:mm'}}
              </div>
            </div>
            <div class="row">
              <div class="col col-25" style="color: grey">
                备注
              </div>
              <div class="col ">
                {{order.remark}}
              </div>
            </div>

          </div>
        </div>
    </div>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                         immediate-check="false"
                         on-infinite="loadMore()"
                         distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div class="bar bar-footer">
      <div class="title"></div>
  </div>
</ion-view>