<ion-view view-title="我的对账单" >
  <ion-content class="has-footer" style="margin-top: 10px">
    <ion-refresher
      pulling-text="下拉更新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list">
      <div class="itemRow" style="margin: 10px;color: grey">
        你有{{itemNum}}个对账单需要对账并支付.
      </div>
    </div>
    <div class="list card" style="text-align: center">
      <div class="item" >
        <div class="row">
          <div class="col">
            序号
          </div>
          <div class="col ">
            结算周期
          </div>
          <div class="col ">
            供应商
          </div>
          <div class="col ">
            金额
          </div>
          <div class="col col-30">

          </div>
        </div>

        <div class="itemRow" style="vertical-align:middle">
          <div class="row" style="margin-bottom: 2px; font-size: smaller" ng-repeat="item in items">
            <div class="col ">
              {{$index+1}}
            </div>
            <div class="col ">
              {{item.createTime | date: 'yyyy-MM'}}
            </div>
            <div class="col ">
              {{item.shopName}}
            </div>
            <div class="col ">
              {{item.amount}}
            </div>
            <div class="col col-30">
              <a href="" class="positive" style="font-size: xx-small;border: 1px solid #8f8f8f; text-decoration: none;" ng-click="sendPayment(item)">
                付款凭证
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


  </ion-content>
  <div class="bar bar-footer">
    <div class="title"></div>
  </div>
</ion-view>