<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--Upper TABS -->
    <ion-tabs class="tabs-top tabs-striped " ng-class="{'tabs-item-hide': shouldHide()}">
      <ion-tab  title="运费调整" ui-sref="provider.orderFreight()" hidden="{{!getState('order')}}" >
        <ion-nav-view name="provider-order-freight"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="未发货" ui-sref="provider.orderNotSend()" hidden="{{!getState('order')}}" >
        <ion-nav-view name="provider-order-notSend"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="已发货" ui-sref="provider.orderSend()" hidden="{{!getState('order')}}" >
        <ion-nav-view name="provider-order-send"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="交易成功" ui-sref="provider.orderSuccess()" hidden="{{!getState('order')}}" >
        <ion-nav-view name="provider-order-success"></ion-nav-view>
      </ion-tab>

      <ion-tab  title="未处理" ui-sref="provider.applicationNotPass()" hidden="{{!getState('application')}}" >
        <ion-nav-view name="provider-application-notPass"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="已处理" ui-sref="provider.applicationPass()" hidden="{{!getState('application')}}" >
        <ion-nav-view name="provider-application-pass"></ion-nav-view>
      </ion-tab>

      <ion-tab  title="待结算" ui-sref="provider.billINIT()" hidden="{{!getState('bill')}}" >
        <ion-nav-view name="provider-bill-init"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="已发送账单" ui-sref="provider.billDELIVERED()" hidden="{{!getState('bill')}}" >
        <ion-nav-view name="provider-bill-delivered"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="待确认收款" ui-sref="provider.billPAYED()" hidden="{{!getState('bill')}}" >
        <ion-nav-view name="provider-bill-payed"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="已结算" ui-sref="provider.billSQUAREDUP()" hidden="{{!getState('bill')}}" >
        <ion-nav-view name="provider-bill-squaredup"></ion-nav-view>
      </ion-tab>

      <ion-tab  title="汇率设定" ui-sref="provider.myExchangeRate()" hidden="{{!getState('my')}}" >
        <ion-nav-view name="provider-my-position"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="订单联系人设定" ui-sref="provider.myContact()" hidden="{{!getState('my')}}" >
        <ion-nav-view name="provider-my-contact"></ion-nav-view>
      </ion-tab>
      <ion-tab  title="意见反馈" ui-sref="provider.myFeedback()" hidden="{{!getState('my')}}" >
        <ion-nav-view name="provider-my-feedback"></ion-nav-view>
      </ion-tab>


    </ion-tabs>



    <!--Bottom TABS -->
    <div class="tabs tabs-icon-top" ng-show="!shouldHide()" >
      <a class="tab-item" ui-sref="provider.orderFreight()"  ng-class="getClass('order')">
        <i class="icon ion-ios-list-outline"></i>
        订单
      </a>
      <a class="tab-item" ui-sref="provider.applicationNotPass()"   ng-class="getClass('application')">
        <i class="icon ion-compose"></i>
        申请
      </a>
      <a class="tab-item" ui-sref="provider.billINIT()"  ng-class="getClass('bill')">
        <i class="icon ion-social-yen-outline"></i>
        结算
      </a>
      <a class="tab-item" ui-sref="provider.myContact()"  ng-class="getClass('my')">
        <i class="icon ion-ios-person-outline"></i>
        我的
      </a>
    </div>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">供应商</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="provider.orderFreight()" >
          工作台
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          退出登录
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
