<ion-modal-view>
  <ion-header-bar class="bar bar-header ">
    <h1 class="title">发送付款凭证</h1>
    <button class="button button-clear button-primary" ng-click="vm.cancel()">取消</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">开户银行:</span>
        <p>{{vm.ngDialogData.payment.payment[0].split(" ")[0]}}</p>
      </label>
      <label class="item item-input">
        <span class="input-label">开户账号:</span>
        <p>{{vm.ngDialogData.payment.payment[0].replace(ngDialogData.payment.payment[0].split(" ")[0], "")}}</p>
      </label>
      <label class="item item-input">
        <span class="input-label">公司名称:</span>
        <p>{{vm.ngDialogData.bill.shopName}}</p>
      </label>

      <a class="item item-icon-right" href="" ng-click="vm.openFileDialog()">
        上传附图
        <i class="icon ion-camera"></i>
      </a>
      <a class="item item-image" href="" ng-show="vm.formData.image.ready" ng-click="vm.deleteImage($index)" ng-repeat="imgUrl in vm.formData.image.url track by $index">
        <img ng-src="{{imgUrl}}" />
      </a>
      <button class="button button-full button-positive" ng-click="vm.confirm(vm.formData)">确定</button>
      <form name="uploadForm" role="form" ng-show="false">
        <input type="file" name="file" id="file" class="uploadImage" /> <br/>
      </form>
    </div>
  </ion-content>
</ion-modal-view>