<style>
  button {
    position: absolute;
    top: 5px;
    right: 4px;
    z-index: 9999999;
  }
</style>
<ion-view view-title="采购-途中" >
  <ion-content class="has-footer">

  <div class="list card">
    <div class="item  item-button-right">
      <span class="positive">AAAF/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        确认&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <div class="itemRow">
        <div class="row">
          <div class="col colGrey " >
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col colGrey ">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col colGrey ">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col colGrey " >
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </div>
      </div>


    <div class="item">
      <div class="itemRow">
        <div class="row">
          <div class="col colGrey " >
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col colGrey ">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col colGrey ">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col colGrey " >
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list card">
    <div class="item  item-button-right">
      <span class="positive">AAAF/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        确认&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <div class="itemRow">
        <div class="row">
          <div class="col colGrey " >
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col colGrey ">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col colGrey ">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col colGrey " >
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="itemRow">
        <div class="row">
          <div class="col colGrey " >
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col colGrey ">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col colGrey ">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col colGrey " >
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list card">
    <div class="item  item-button-right">
      <span class="positive">AAAF/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        确认&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <div class="itemRow">
        <div class="row">
          <div class="col colGrey " >
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col colGrey ">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col colGrey ">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col colGrey " >
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </div>
    </div>
    
  </div>



  </ion-content>
  <div class="bar bar-footer">
    <div class="title"></div>
  </div>
</ion-view>
