<style>
  button {
    position: absolute;
    top: 5px;
    right: 4px;
    z-index: 9999999;
  }
</style>
<ion-view view-title="采购-待采购" >
  <ion-content class="has-footer">

  <div class="list card">
    <div class="item item-checkbox item-button-right">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="groupe0.checked"
               ng-checked="groupe0.checked"
               ng-change="">
      </label>
      <span class="positive">蓝领/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        购买&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <ion-checkbox ng-model="filter.blue" style="background-color: #f5f5f5;">
        <div class="row">
          <div class="col" style="color: grey">
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col" style="color: grey">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col" style="color: grey">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col" style="color: grey">
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </ion-checkbox>
    </div>
  </div>

  <div class="list card">
    <div class="item item-checkbox item-button-right">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="groupe0.checked"
               ng-checked="groupe0.checked"
               ng-change="">
      </label>
      <span class="positive">蓝领/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        购买&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <ion-checkbox ng-model="filter.blue" style="background-color: #f5f5f5;">
        <div class="row">
          <div class="col" style="color: grey">
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col" style="color: grey">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col" style="color: grey">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col" style="color: grey">
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </ion-checkbox>
    </div>

    <div class="item">
      <ion-checkbox ng-model="filter.blue" style="background-color: #f5f5f5;">
        <div class="row">
          <div class="col" style="color: grey">
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col" style="color: grey">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col" style="color: grey">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col" style="color: grey">
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </ion-checkbox>
    </div>
  </div>

  <div class="list card">
    <div class="item item-checkbox item-button-right">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="groupe0.checked"
               ng-checked="groupe0.checked"
               ng-change="">
      </label>
      <span class="positive">蓝领/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        购买&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <ion-checkbox ng-model="filter.blue" style="background-color: #f5f5f5;">
        <div class="row">
          <div class="col" style="color: grey">
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col" style="color: grey">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col" style="color: grey">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col" style="color: grey">
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </ion-checkbox>
    </div>
  </div>

  <div class="list card">
    <div class="item item-checkbox item-button-right">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="groupe0.checked"
               ng-checked="groupe0.checked"
               ng-change="">
      </label>
      <span class="positive">蓝领/法比亚1</span>
      <button class="button button-light" ng-click="buyFabric()">
        购买&nbsp;<i class="icon ion-ios-arrow-right"></i>
      </button>
    </div>

    <div class="item">
      <ion-checkbox ng-model="filter.blue" style="background-color: #f5f5f5;">
        <div class="row">
          <div class="col" style="color: grey">
            加工厂:
          </div>
          <div class="col ">
            蓝领
          </div>
          <div class="col" style="color: grey">
            顾客:
          </div>
          <div class="col ">
            王珊珊
          </div>
        </div>
        <div class="row">
          <div class="col" style="color: grey">
            货号/色号:
          </div>
          <div class="col ">
            787967
          </div>
          <div class="col" style="color: grey">
            数量:
          </div>
          <div class="col ">
            329 米
          </div>
        </div>
      </ion-checkbox>
    </div>
  </div>

  </ion-content>
  <div class="bar bar-footer">
    <div class="title"></div>
  </div>
</ion-view>
