<ion-view view-title="订单">
  <ion-content>




    <div class="list list-inset">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Enter home address
      </a>

      <a href="#" class="item item-icon-left" >
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>

    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        Check mail
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i>
        Call Ma
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Record album
        <span class="item-note">
          Grammy
        </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a>

      <div class="item item-divider">
        Candy Bars
      </div>



    </div>

    <div ion-table="" class="table">
      <ion-list>
        <ion-item class="table-head table-row">
          <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
          </ul>
        </ion-item>
        <ion-item class="table-row">
          <ul>
            <li>Data1 Data1 </li>
            <li class="table-select">
              <select>
                <option disabled="disabled" selected="selected">Chooooose</option>
                <option>Yes</option>
                <option>No</option>
                <option>N/A</option>
              </select>
            </li>
            <li class="table-select">
              <select>
                <option disabled="disabled" selected="selected">Choose</option>
                <option>Yes</option>
                <option>No</option>
                <option>N/A</option>
              </select>
            </li>
          </ul>
        </ion-item>
        <ion-item class="table-row">
          <ul>
            <li>Data1 Data1ddfgdfgdfgdfgdfgdfgdfgdfgdfg</li>
            <li class="table-select">
              <select>
                <option disabled="disabled" selected="selected">Chooooose</option>
                <option>Yes</option>
                <option>No</option>
                <option>N/A</option>
              </select>
            </li>
            <li class="table-select">
              <select>
                <option disabled="disabled" selected="selected">Choose</option>
                <option>Yes</option>
                <option>No</option>
                <option>N/A</option>
              </select>
            </li>
          </ul>
        </ion-item>
      </ion-list>
    </div>




    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>



  </ion-content>

  <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-ios-list-outline"></i>
      订单
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-cart-outline"></i>
      采购
    </a>
    <a class="tab-item">
      <i class="icon ion-tshirt-outline"></i>
      生产
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-reverse-camera-outline"></i>
      出入库
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-person-outline"></i>
      我的
    </a>
  </div>
</ion-view>
